*{
	margin: 0;
	padding: 0;
}


/*
header section code
*/
a{
	text-decoration: none;
}
body{
	font-family: 'Rubik', sans-serif;
}
header{
	width: 100%;
	padding: 12px 0;
	border-bottom: 2px solid #eee;
}
.container{
	width: 1140px;
	margin: auto;
}
.navbar{
	display: flex;
	justify-content: space-between;

}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 24px;
	padding-top: 25px;
	font-size: 18px;
	font-weight: 300px;

}
.logo img{
 padding-top: 10px;
 width: 100%
 }

 /*bannar section*/
 #bannar{
 	width: 100%;
 	padding: 40px 0px;
 	text-align: center;
 }
 .bannar-containt h1{
 	font-size: 40px;
 	margin-bottom: 16px;
 }
 .bannar-containt span{
 	color: #008aff;
 }
 .bannar-containt p{
 	font-weight: 300;
 	line-height: 24px;
 }

 /*about section*/
 #about{
 	width: 100%;
 	padding: 40px 0px;
 }
 .about-content{
 	display: flex;

 }
 .left,.right{
 	flex-basis: 50%;
 }
 .left{
 	text-align: right;
 	margin-right: 16px;
 }
 .right{
 	text-align: left;
 	margin-left: 16px;
 	color: #2c2a4a;
 }
 .left h2{
 	font-size: 42px;
 	color: tomato;
 }
 .left p{
 	font-weight: 300;
 	line-height: 25px;
 }


/*service section css*/
#service{
	width: 100%;
	padding: 40px 0px;
}
.service-content{
	display: grid;
	grid-template-columns: auto auto auto;
}
.service-item{
	background: gray;
	color: #2c2a4a;
    margin: 16px;
    padding: 16px;


}
.one{
	background: #fdebed;

}
.one h4{
	margin-top: 12px;
}
.two{
	background: #ebf9f4;
}
.three{
	background: #fff7e8;
}
.service-content h4{
	font-size: 16px;
	margin-bottom: 12px;

}
.service-item p{
	line-height: 25px;
}

footer{
	background: #008aff;
	padding: 40px 0px;
	text-align: center;
}
.footer-icon ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 16px;
}
.footer-icon ul li a i{
	height: 50px;
    width: 50px;
    background: #47c4ff;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 100%;

}
.footer-icon ul li a i:hover{
	transform: rotate(360deg);
	transition: 0.9s;
	background: tomato;
}
